<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="inspireso-web" version="2.5">

	<display-name>inspireso-web-platform</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/conf/context/*-context.xml</param-value>
	</context-param>

	<context-param>
		<param-name>tapestry.use-external-spring-context</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- The only significant configuration for Tapestry 5, this informs Tapestry 
		of where to look for pages, components and mixins. -->
	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>so.inspire.web</param-value>
	</context-param>

	<!-- Specify some additional Modules for two different execution modes: 
		development and qa. Remember that the default execution mode is production -->
	<context-param>
		<param-name>tapestry.development-modules</param-name>
		<param-value>so.inspire.web.services.DevelopmentModule</param-value>
	</context-param>
	<context-param>
		<param-name>tapestry.qa-modules</param-name>
		<param-value>so.inspire.web.services.QaModule</param-value>
	</context-param>

	<!-- <filter> <filter-name>global</filter-name> <filter-class>com.inspireso.framework.web.filter.GlobalFilter</filter-class> 
		<async-supported>true</async-supported> </filter> <filter-mapping> <filter-name>global</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>com.inspireso.framework.web.servlet.ProxyServlet</servlet-class>
		<init-param>
			<param-name>target</param-name>
			<param-value>dispatcherServlet</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/conf/servlet/*-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- <servlet-mapping> <servlet-name>default</servlet-name> <url-pattern>/static/*</url-pattern> 
		</servlet-mapping> -->

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>


	<error-page>
		<error-code>404</error-code>
		<location>/insp/notfound</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/insp/forbidden</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/insp/internalServerError</location>
	</error-page>

	<!-- <welcome-file-list> <welcome-file></welcome-file> </welcome-file-list> -->
</web-app>